<section class="bg-warning padding-y-sm rounded">
    <div class="container">

        <ol class="breadcrumb ondark mb-0">
            <li class="breadcrumb-item">
                <a routerLink="/products">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/products">Product</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{product.title}}
            </li>
        </ol>
    </div>
</section>

<section class="padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-lg-4">
                <app-product-carousel [product]="product"></app-product-carousel>
            </aside>
            <main class="col-lg-6">
                <article class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{product?.title }}
                    </h4>
                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <img src="assets/images/stars-active.svg" alt="">
                            </li>
                            <li>
                                <img src="assets/images/starts-disable.svg" alt="">
                            </li>
                        </ul>
                        <b class="label-rating text-warning"> 4.5</b>
                        <i class="dot"></i>
                        <span class="label-rating text-muted">
                            <i class="fa fa-shopping-basket"></i> 154 orders
                        </span>
                        <i class="dot"></i>
                        <span class="label-rating text-{{product.stock <10 ? 'danger':'success'}}">{{product.stock <10
                                ? 'Less than 10 left' :'In Stock'}}</span>
                    </div>


                    <div class="mb-3">
                        <span class="price h5">${{product?.price}}</span>
                    </div>

                    <p>
                        {{product?.description }}
                    </p>

                    <dl class="row">
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">{{product?.category?.name}}</dd>

                        <dt class="col-3">Color:</dt>
                        <dd class="col-9">Brown</dd>

                        <dt class="col-3">Material:</dt>
                        <dd class="col-9">Cotton, Jeans </dd>

                        <dt class="col-3">Brand:</dt>
                        <dd class="col-9">{{product.brand}} </dd>
                    </dl>
                    <a class="btn  btn-warning me-2" (click)="addToCart(product)"
                        *ngIf="(cartService.cartObservable$ | async) as products">
                        <i class="me-1 fa fa-shopping-basket"></i>
                        {{isInCart ? 'Added to cart':'Add to cart'}}
                    </a>
                    <a href="#" class="btn  btn-light me-2">
                        <i class="fa-regular fa-heart text-danger"></i>
                        Save
                    </a>
                    <!-- <a href="#" class="btn  btn-light me-2">
                        <i class="me-1 fa fa-heart text-danger"></i> Saved
                    </a> -->

                </article>
            </main>
        </div>

        <div class="row my-5 position-relative">
            <div class="title text-md-center mb-2">
                <span>best match</span>
                <h4 class="text-dark">Related products</h4>
            </div>
            <!-- <owl-carousel-o [options]="slider3Settings" #myCarousel>
                <ng-container class="col-md-2 col-6" *ngFor="let item of categoryProducts">
                    <ng-template carouselSlide [id]="item.id">
                        <app-product [product]="item"></app-product>
                    </ng-template>
                </ng-container>
            </owl-carousel-o> -->
        </div>
    </div>
</section>